body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fixd-header.am-navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.fixed-bottom-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}

#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}
.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}